<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard Administrativo</title>
    <link rel="stylesheet" href="../css/adminPanel.css" />

</head>
<body>
    <h1>Dashboard Administrativo</h1>
    <div class="dashboard">
        <div class="card">
            <h2>Gestión de Usuarios</h2>
            <a href="users.html">Ir a Usuarios</a>
        </div>
        <div class="card">
            <h2>Cartas</h2>
            <a href="cards.html">Ver Cartas</a>
        </div>
        <div class="card">
            <h2>Sesión</h2>
            <a href="login.html">Cerrar sesión</a>
        </div>
    </div>
</body>
</html>
