<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Juego</title>
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <h1> El Eclipse</h1>
    <div class="container text-center mt-5">
        <button class="btn btn-success mt-4" onclick="location.href='select-warriors.html'">Jugar</button>
        <button class="btn btn-info mt-4" onclick="location.href='ranking.html'">Ranking</button>
    </div>
    <div class="card">
        <a href="login.html">Cerrar sesión</a>
    </div>
</body>

</html>