<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Juego de Guerreros</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center mb-4">Registro</h1>
                        <form id="register-form" aria-label="Formulario de registro">
                            <div class="form-group">
                                <label for="username">Usuario:</label>
                                <input type="text" id="username" class="form-control" placeholder="Usuario" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña:</label>
                                <input type="password" id="password" class="form-control" placeholder="Contraseña" required>
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">Confirmar Contraseña:</label>
                                <input type="password" id="confirm_password" class="form-control" placeholder="Confirmar Contraseña" required>
                            </div>
                            <button type="button" id="register-btn" class="btn btn-primary btn-block">Registrarse</button>
                            <a href="./login.html" class="btn btn-secondary btn-block mt-2">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/main.js"></script> <!-- Conexión al archivo JavaScript -->
</body>

</html>