<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="es">
    <title>Juego de Guerreros - Selección de Cartas</title>
    <link rel="stylesheet" href="../css/select_warrior.css">
</head>
<body>
    <h1>Juego de Guerreros</h1>
    
    <div id="card-selection">
        <h2>Elige tu Guerrero</h2>
        <div class="cards" id="warriors-container">
            <!-- Las cartas se cargarán dinámicamente desde la base de datos -->
        </div>
    </div>

    <div id="selected-warriors">
        <h2>Guerreros Seleccionados</h2>
        <div id="player1-cards" class="player-cards">
            <h3>Jugador 1</h3>
            <div class="card-space"></div>
            <div class="card-space"></div>
            <div class="card-space"></div>
            <div class="card-space"></div>
            <div class="card-space"></div>
        </div>
        <div id="player2-cards" class="player-cards">
            <h3>Jugador 2</h3>
            <div class="card-space"></div>
            <div class="card-space"></div>
            <div class="card-space"></div>
            <div class="card-space"></div>
            <div class="card-space"></div>
        </div>
        <button id="start-player1" class="btn-primary">Comenzar Jugador 1</button>
        <button id="start-player2" class="btn-primary" disabled>Comenzar Jugador 2</button>
        <a href="game.html" class="btn-primary">¡Ir a la Batalla!</a>
        <button id="reset-selection">Volver a Seleccionar</button>
    </div>
    <button onclick="location.href='home.html'">Regresar al inicio</button>

    
    <script type="module" src="../js/warriorService.js"></script>
    <script type="module" src="../js/selectWarrior.js"></script>

</body>
</html>